{include file='./header_web.tpl' page_title='TOP'}

{include file='./menu.tpl'}

<br />

<div id="side_contents_2">
{include file='./side_contents_2.tpl'}
</div><!-- side_contents -->

<div id="main_contents_2">

  <div id="content_iti">
<!--    <h2 class="padding"><img src="images/web/h2_contact.gif" alt="お問い合わせ" width="141" height="30" /></h2>-->
	<div id="side_contents_header">
		<p><b>メディア</b></p>
	</div>
	<br />

お問い合わせいただきありがとうございます。<br />
お問い合わせ内容によっては、お時間をいただくこともございます。<br />
ご了承ください。




<!--<p class="thanks">お問い合わせいただきありがとうございます。<br />-->
<!--お問い合わせ内容によっては、お時間をいただくこともございます。<br />-->
<!--ご了承ください。</p>-->


  </div>
</div>
<!-- main_contents -->


{include file='./hooter_web.tpl'}