</div><!-- container -->

<div id="my_footer2">
	<p id="copyright">Copyright 2010 <a href="http://www.laugh-and-peace.net/" target="_blank" style="color:#FFF;">株式会社laugh&amp;peace</a> Inc. All Rights Reserved. Ver.2.0</p>
</div><!-- footer -->

</body>
</html>