{include file='./header_web.tpl' page_title='TOP'}

{include file='./menu.tpl'}

<br />

<div id="side_contents_2">
{include file='./side_contents_2.tpl'}
</div><!-- side_contents -->

<div id="main_contents_2">

  <div id="content_iti">
<!--    <h2><img src="images/web/h2_Registration.gif" alt="メディア登録" width="160" height="30" class="padding" /></h2>-->

	<div id="side_contents_header">
		<p><b>メディアオーナー様登録</b></p>
	</div>
	<br />

ご登録いただきありがとうございます。<br />
入力されたIDとパスワードでログインしてください。<br />

<!--<p class="thanks">ご登録いただきありがとうございます。<br />-->
<!--入力されたIDとパスワードでログインしてください。<br /></p>-->


  </div>
</div>
<!-- main_contents -->

{include file='./hooter_web.tpl'}