{include file='./header_web.tpl' page_title='TOP'}

{include file='./menu.tpl'}
<br />

<div id="side_contents_2">
	{include file='./side_contents_2.tpl'}
</div><!-- side_contents -->

	<div id="main_contents_2">

	<div id="content_iti">

		<div class="padding">
<!--          	<h2><img src="images/web/h2_media.gif" alt="メディア" width="141" height="30" class="padding" /></h2>-->
			<div id="side_contents_header">
				<p><b>メディア</b></p>
			</div>
			<br />

			<p>アフィリエイト広告とは、自分のウェブサイトやブログ、メルマガに注目の商品・人気サイトなどの広告を掲載し、   閲覧者がその広告を経由して会員登録や商品を購入したりすることで、広告主から報酬を得られるシステムです。<br />
        	<br />
        	自分のウェブサイトやメルマガに広告を貼って広告収入をＧＥＴできる、注目のサービスです！ </p>
		</div>
<div class="img_center">
	<p><img src="images/web/client_flow.jpg" width="100%" height="468" alt="イメージ" /></p>
</div>
     <!--
	<p class="right"><a href="#"><img src="images/web/touroku.jpg" alt="無料登録" width="105" height="28" /></a></p>
	-->
<div id="line">
  <p>&nbsp;</p>
  <p class="padding">詳しくはお問合せフォームからお問合せください。</p>
</div>
    </div>
    </div>
<!-- main_contents -->
{include file='./hooter_web.tpl'}

