{include file='./header.tpl' page_title='メディア管理'}

<!-- Menu -->
{include file='./media_menu.tpl' user_name=$user_name}

<div id="my_contents">

<!-- おすすめ広告 --------------------------------------------------------------------- -->
<!---->
<!--	<div id="new_advert_box">-->
<!--		<div id="new_advert_header">-->
<!--			<p><b>おすすめ広告</b></p>-->
<!--		</div>-->
<!---->
<!--		<br />-->
<!---->
<!--		{foreach from=$attention_str item=DATA}-->
<!---->
					 <!-- <img src="{$images_dir_path|cat:$DATA.images_url}" style="float: left;" /> -->
<!--					<img src="{$images_dir_path|cat:$DATA.ms_image_url}" />-->
<!--					<br />-->
<!--					{$DATA.advert_name}-->
<!--					<br />-->
<!--					{$DATA.ms_text}-->
<!--					<br />-->
<!--					<hr style="border-top: 2px dotted #c0c0c0" width="100%" />-->
<!---->
<!---->
<!--		{/foreach}-->
<!---->
<!--	</div>-->
<!---->
<!---->
<!---->
<!-- 新着情報 ------------------------------------------------------------------------- -->
<!--	<div id="new_advert_box">-->
<!--		<div id="new_advert_header">-->
<!--			<p><b>新着広告</b></p>-->
<!--		</div>-->
<!---->
<!--		<br />-->
<!---->
<!--		<div id="all_banner" >-->
<!--			<a href="./all_advert.php" ><img src="./images/web/all_banner_3.gif" alt="ALL" /></a>-->
<!--		</div>-->
<!---->
<!--		<br />-->
<!---->
<!--			 {foreach from=$coming_str item=STR}-->
<!--				<img src="./images/web/arrow.gif"" />-->
<!---->
<!--				　{$STR.created_date}-->
<!---->
<!--				　{$STR.advert_name}-->
<!--				<br />-->
<!--				<hr style="border-top: 2px dotted #c0c0c0" />-->
<!--			{/foreach}-->
<!--	</div>-->


</div><!-- contents -->

<!-- フッター -->
{include file='./hooter.tpl'}