<div id="my_navigation">
	<ul>
		<li id="navi_top"><a href="/"><b>TOP</b></a></li>
		<li id="navi_client"><a href="./client.php"><b>Client</b><br />クライアント</a></li>
		<li id="navi_media"><a href="./media.php"><b>Media</b><br />メディア</a></li>
		<!-- <li id="navi_regist"><a href="./media_publisher_2.php?mode=new_regist"><b>Prgistration</b><br />メディア登録</a></li> -->
		<!-- <li id="navi_glossary"><span class="no_effect"><b>Glossary</b><br />用語集</span></li> -->
		<li id="navi_faq"><span class="no_effect"><b>FAQ</b><br />よくある質問</span></li>
		<li id="navi_contact"><a href="./contact.php"><b>Contact us</b><br />お問い合わせ</a></li>
		<!-- <li id="navi_client"><a href="./client.php">クライアント</a></li> -->
		<!-- <li id="navi_media"><a href="./media.php">メディア</a></li> -->
		<!-- <li id="navi_regist"><a href="./regist.php">メディア登録</a></li> -->
		<!-- <li id="navi_glossary"><a href="./glossary.php">用語集</a></li> -->
		<!-- <li id="navi_faq"><a href="./faq.php">よくある質問</a></li> -->
		<!-- <li id="navi_contact"><a href="./contact.php">お問い合わせ</a></li> -->
	</ul>
	<br />
	Var 1.0
	<a href="http://www.tsc-j.co.jp/">株式会社TSC</a>
</div>
