<div id="banner_box">

<table height="320">
<tr>
<td>


	<div id="my_navigation_2">
		<ul>
			<li id="navi_top_2"><a href="/"><b>TOP</b><br />トップ</a></li>
			<li id="navi_client_2"><a href="./client.php"><b>Client</b><br />クライアント</a></li>
			<li id="navi_media_2"><a href="./media.php"><b>Media</b><br />メディア</a></li>
			<li id="navi_glossary_2"><a href="./novice.php"><b>And affiliates</b><br />ｱﾌｨﾘｴｲﾄとは</a></li>
			<li id="navi_faq_2"><span class="no_effect"><b>FAQ</b><br />よくある質問</span></li>
			<li id="navi_contact_2"><a href="./contact.php"><b>Contact us</b><br />お問い合わせ</a></li>

		</ul>
		<br />

	</div>

</td>
</tr>
</table>

</div>