	<div id="banner_box">

		<div id="media_banner">
		<p><a href="./novice.php"><img src="./images/web/novice_banner.gif" width="200" height="90" alt="アフィリエイトとは"></a></p>
		</div>

	</div>

	<br />

	<div id="login_box">

		<div id="media_login">
			<p><img src="./images/web/media_login_header.jpg" width="200" height="30" alt="メディア様ログイン" /></p>
			<form action="http://smaia.jp/login.php" method="POST">
				<input type="hidden" name="media_logon" value="yy" />
				<table cellpadding="0" cellspacing="0">

					{if $media_error_message != ''}
					<tr>
						<td colspan="2" >
							<font color="#FF6347">{$media_error_message}</font>
						</td>
					</tr>
					{/if}

					<tr>
						<th>login:</th>
						<td><input type="text" name="login_id" value="" /></td>
					</tr>
					<tr>
						<th>password:</th>
						<td><input type="password" name="login_pass" value="" /></td>
					</tr>
					<tr>
						<td colspan="2" class="login_btn">
							<input type="submit" value="login" style="background-color:#FFE4B5; width:80px;" />
							<input type="reset" style="background-color:#FFE4B5; width:80px;" />
						</td>
					</tr>
				</table>
			</form>
		</div><!-- media_login -->

		<div id="client_login">
			<p><img src="./images/web/client_login_header.jpg" width="200" height="30" alt="クライアント様ログイン" /></p>
			<form action="http://smaia.jp/login.php" method="POST">
				<input type="hidden" name="client_logon" value="yy" />
				<table cellpadding="0" cellspacing="0">

					{if $client_error_message != ''}
					<tr>
						<td colspan="2" >
							<font color="#FF6347">{$client_error_message}</font>
						</td>
					</tr>
					{/if}

					<tr>
						<th>login:</th>
						<td><input type="text" name="login_id" value="" /></td>
					</tr>
					<tr>
						<th>password:</th>
						<td><input type="password" name="login_pass" value="" /></td>
					</tr>
					<tr>
						<td colspan="2" class="login_btn">
							<input type="submit" value="login" style="background-color:#AAD8E6; width:80px;" />
							<input type="reset" style="background-color:#AAD8E6; width:80px;" />
						</td>
					</tr>
				</table>
			</form>
		</div><!-- client_login -->

	</div><!-- login_box -->

	<div id="banner_box">

		<div id="media_banner">
			<p><a href="./media.php"><img src="./images/web/koukokusyunyu.jpg" width="200" height="88" alt="広告収入を得たい"></a></p>
		</div>
		<div id="client_banner">
			<p><a href="./client.php"><img src="./images/web/koukokusyukkou.jpg" width="200" height="88" alt="広告出稿をしたい"></a></p>
		</div>

	</div><!-- banner_box -->
