{$name1}aa

	<div id="login">
		<form action="#" method="POST">
			<input type="hidden" name="logon" value="yy" />
			<table cellspacing="0">
				<tr>
					<th>loginaa:</th>
					<td><input type="text" name="login_id" value="" autocomplete="off"/></td>
				</tr>
				<tr>
					<th>password:</th>
					<td><input type="password" name="login_pass" value="" autocomplete="off"/></td>
				</tr>
				<tr>
					<td colspan="2" id="login-btn">
						<input type="submit" value="login" />
						<input type="reset" />
					</td>
				</tr>
			</table>
		</form>
	</div>
