/***********************************************/
/*基本設定	　　    　　　　                   */
/***********************************************/

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size: 12px;
	background-color: #f1ebdb;}

body,td,th {
	font-size: 12px;
	color: #333333;}

img{
	margin:0px ;
	border:0px ;
	padding:0px ;
	vertical-align: text-bottom;} 

a{
	color:#637c07 ;}

a:hover{
	color:#637c07 ;}
	
.c-both{
	clear:both ;}

#container{
	width:850px;
	margin:0px;}

.text10 {
	font-size:10px;}

.text_white {
	color:#ffffff;
	font-weight:bold;}

.text_red {
	color:#990000;}
	
.text {
	line-height:18px;
	font-size:12px;}

.text_title {
	color:#627b07;
	font-weight:bold;
	font-size: 14px;}
	
#main_left{
	width:172px;
	float:left;
	text-align:left;}

#main_right{
	width:658px;
	float:right;
	text-align:left;
	clear:both ;}